
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    
   #mainNav > div {
       margin-bottom: 5px;
   }
   
   
    .container {
        width: 100%;
        display: table;
    }
    
    body {
        font-family: 'Comfortaa', cursive;
        background: white;
        margin-right: 7%;
        margin-left: 7%;
        margin-top: 5px;
    }
    
    #mainNav {
        background: rgb(26, 80, 85);
        text-align: center;
        color: white;
        margin-top: 0px;
    }

    #MainTitle{
        margin-top: 22px;
    }
    
    #text-center {
        font-weight: bold;
    }


    #map{
        height: 25pc;
        position: static;
    }
    
    
    footer {
        float: left;
        color: white;
        position: relative;
        background: rgb(26, 80, 85);
        top: 100px;
        bottom: 0px;
        width: 100%;
        height: 40px;
        padding-top: 0px;
    }

    #hiddenView {
        display: none;
    }

    #graph {
       height: 305px;
    }

    body > div > div > div.col-md-4 > div > table > tbody > tr > td{
        padding: 2px;
    }
    
    #weatherImage {
        float: right;
    }

    #lowerPart > hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #weather {
        border-style: groove;
    }

    .margin-bottom-10 {
        margin-bottom: 10px;
    }
    
    #hiddenView > div > table {
        margin-bottom: 3px;
    }

    body > div > div > div.col-md-3 > hr {
        margin-bottom: 10px;
        margin-top: 10px;
        border-top: 0px;
    }


    #hiddenView > div {
        text-align: center;
    }

    #middleText {
        margin-top: 10px;
        margin-bottom: 0px;
        font-weight: bold;
    }

    #CityAndTime {
        margin-top: 0px;
    }

    #predictionName {
        font-weight: bold;
        display: none;
        text-align: center;
    }

    #prediction {
        margin-top: 18px;
        display: none;
        width: 100%;
    }


    .Row2 {
        text-align: center;
    }