
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    
    .container {
        width: 100%;
        display: table;
    }
    
    body {
        font-family: 'Comfortaa', cursive;
        background: white;
        margin-right: 7%;
        margin-left: 7%;
    }
    
    #mainNav {
        background: rgb(26, 80, 85);
        text-align: center;
        color: white;
        margin-top: 20px;
    }

    #MainTitle{
        margin-top: 22px;
    }
    
    #map{
        height: 25pc;
        position: static;
    }
    
    
    footer {
        float: left;
        color: white;
        position: relative;
        background: rgb(26, 80, 85);
        top: 100px;
        bottom: 0px;
        width: 100%;
        height: 40px;
        padding-top: 0px:
    }

    .lessPadding {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }



    #weatherImage {
        float: right;
    }
    .margin-bottom-10 {
        margin-bottom: 10px;
    }
